* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    margin: 100px 15% auto 15%;
    background-image: linear-gradient(90deg, #8000ff, #bfbfbf) ;
    
}

#container {
    max-width: 940px;
    
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.img-telefone {
    padding-right: 20px;
    padding-top: 5px;
    height: 60px;
}

h1 {
    font-size: 3.4em;
    text-transform: uppercase;
}

form input {
    display: inline-flex;
    margin: 20px 20px;
    font-size: 2em;
    padding: 10px 5px;
    border: none;
    border-bottom: 4px solid #000;

}

form button {
    padding: 10px;
    font-size: 2em;
    margin-left: 15px;
    background-color: #26004d;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

table {
    margin-top: 20px;    
    padding-left: 20px;
    width: 100%;
}

table th {
    font-size: 2em;
    margin-left: 55px;
    border-bottom: 3px solid black;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
}

table td {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
    color: #e6ffff;
    border-bottom: 1px dotted black;
}

.telefone {
    width: 25%;
}